{% extends 'base.html.twig' %}

{% block body %}
    <h1>People list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in peoples %}
            <tr>
                <td><a href="{{ path('people_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                <td>{{ person.name }}</td>
                <td>{{ person.age }}</td>
                <td>{{ person.email }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('people_show', { 'id': person.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('people_edit', { 'id': person.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('people_new') }}">Create a new person</a>
        </li>
    </ul>
{% endblock %}
